
<div class='container'>
<div class='mat-headline mt-md-4'>About Us</div>
<mat-divider></mat-divider><br>
<div class='mat-title'>QuizMaster.com</div>
<p class='mat-body-2 text-justify'>This website is all about a web application for online mock test or practice test
  for especially for aptitudes. In this, users who want to improve their skillset or knowledge related to aptitudes
  in order to attend interviews and getting jobs, etc. This is very useful especially for college students who are going to
   attend interviews, professionals and others. These kind of webpages allows users to take practice tests of our wish and
    keep track of the users improvement and recommends or notify you the set of interview questions of popular companies for
    a particular post which the user looking for and also the number of vacancies available for a particular job.<br><br>
The main goal of this website is to develop this with these kind of features with faster response using modern techniques
 rather than traditional model and provide it with free of cost so that it is useful and everybody will make use of.
</p>
<br>
<h2>Authors of this Webpage</h2>
   <div class='ml-md-3 mt-md-3'>
   <mat-list>
       <mat-list-item>
         <i class='fa fa-user' mat-list-avator></i>
          <div mat-line> Prof.Minerva McGonagall</div>
         <div mat-line>Headmistress of Hogwarts</div>
         <div mat-line> Head of Gryffindor</div>
       </mat-list-item>
       <mat-list-item>
         <i class='fa fa-user' mat-list-avator></i>
          <div mat-line> Prof.Swoopstikes</div>
         <div mat-line>Professor</div>
         <div mat-line>Former Potions Master</div>
       </mat-list-item>
       <mat-list-item>
         <i class='fa fa-user' mat-list-avator></i>
          <div mat-line> Prof.Gilbert Lockhart</div>
         <div mat-line>Professor</div>
         <div mat-line>Defence against the Dark Arts </div>
       </mat-list-item>
       <mat-list-item>
         <i class='fa fa-user' mat-list-avator></i>
          <div mat-line> Rubeus Hagrid</div>
         <div mat-line>Care of Magical Creatures</div>
         <div mat-line>Keeper of keys and grounds</div>
       </mat-list-item>
    </mat-list>
</div>



</div>
