<div class='container'>
<div class='mat-headline mt-md-4' >Contact Us</div>
<mat-divider></mat-divider><br>
<div class='row'>
 <div class='col-md-6'>
 <div class='mat-title'>Admin Details</div>
   <div class='ml-md-3 mt-md-2'>
    <h3><i class='fa fa-user'></i> Prof.Dumbledore </h3>
    <p>HeadMaster of Hogwards School of Withcraft and Wizardy</p><br>
    <address>
      7/17, wand-wizard road,<br>
      Magical House,<br>
      Howards<br>
      <br>
      <i class="fa fa-phone"></i>: +91 8439434343<br>
      <i class="fa fa-envelope"></i>:
            <a href="hogwars@school.wizardmail.com">hogwars@school.wizardmail.com</a>
    </address>
    <p></p>
    <div>
      <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
      <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
      <a mat-raised-button href="mailto:ogwars@school.wizardmail.com"><i class="fa fa-envelope-o"></i> Email</a>
    </div></div>
  </div>

  <div class='col-md-6'>
  <div class='mat-title'>Developer Details</div>
     <div class='ml-md-3 mt-md-2'>
       <h3><i class='fa fa-user'></i> Mr. Harry Potter </h3>
     <p>Student At Hogwards School of Withcraft and Wizardy</p><br>
     <address>
       32/123, wand-wizard road,<br>
       Griffindor House,<br>
       Howards<br>
       <br>
       <i class="fa fa-phone"></i>: +91 8422226443<br>
       <i class="fa fa-envelope"></i>:
             <a href="hogwars@school.wizardmail.com">harry@hogards.wizardmail.com</a>
     </address>
     <p></p>
     <div>
       <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
       <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
       <a mat-raised-button href="mailto:ogwars@school.wizardmail.com"><i class="fa fa-envelope-o"></i> Email</a>
     </div></div>
   </div></div>
<br><br>
</div>
