
<div class="container-fluid bg-primary text-white">

	 <div class="mt-md-3 p-md-3" style='margin-left:150px'>
	 <div class='mat-headline mt-md-3'> Free Online Aptitudes Tests for Jobseekers....</div>
      <div style="color:white" class='mat-subtitle'> Do Practice |  Gain your Skills | Pluck Your goals</div>
      <br>
      <ul>
         <li style="padding-bottom:10px">Unlimited Online mock tests for free....</li>
         <li style="padding-bottom:10px">Offers a realtime interview exam experience...</li>
           <li style="padding-bottom:10px">Both Technical and Non-technical Contents...</li>
         <li style="padding-bottom:10px">Job Notifications...</li>
           <li style="padding-bottom:10px">Start Your Preparation with us...</li>
      </ul>
      <button style="background-color:orangered; color:white; height:37px; width:115px;
      border-radius:20px; border:1px solid dodgerblue" class='mb-md-2'>Learn More</button><br>

      <img src="./assets/practice.jfif" style="height:230px; width:210px; border-radius:47%; position:absolute; left:850px; top:240px" >
    </div>
</div>

<div class="container-fluid pt-4">
	<div style="margin-left:200px">
    <div class='mat-title'> Welcome to Quiz Master!</div><br>
    <p class='mat-body'> Quiz Master is a India's largest online mock tests portal for Jobb seekers, skill improvers and Students<br>
   Here, you can read the aptitude questions and answers for your interview and entrance exams preparation.</p>

  <table class='p-md-2' cellpadding='25px' cellspacing='25px' style='width:600px'>
  	<tr>
  		<td> <img src="./assets/test.jpg" style="height:100px;width:100px">  <p>General Aptitudes</p>
  			<button style="height:30px;width:100px;color:white;background-color:orangered;border-radius:25px">
          <a [routerLink]="['/test','top1']" style="color:white">Click here</a></button></td>

  		<td> <img src="./assets/test.jpg" style="height:100px;width:100px"> <p>Verbal and Reasoning</p>
  		 <button style="height:30px;width:100px;color:white;background-color:orangered;border-radius:25px" disabled>
        <a [routerLink]="['/test','top2']" style="color:white">Click here</a></button></td>

  		<td> <img src="./assets/test.jpg" style="height:100px;width:100px"> <p>Non-verbal Reasoning</p>
  			<button style="height:30px;width:100px;color:white;background-color:orangered;border-radius:25px" disabled>
          <a [routerLink]="['/test','top3']" style="color:white">Click here</a></button></td>
  	</tr>

  		<tr>
  		<td> <img src="./assets/test.jpg" style="height:100px;width:100px"> <p>Logical Reasoning</p><br>
  			<button style="height:30px;width:100px;color:white;background-color:orangered;border-radius:25px" disabled>
          <a [routerLink]="['/test','top4']" style="color:white">Click here</a></button></td>


      <td> <img src="./assets/test.jpg" style="height:100px;width:100px"> <p>Programming <br>Knowledge</p>
  		 <button style="height:30px;width:100px;color:white;background-color:orangered;border-radius:25px" disabled>
        <a [routerLink]="['/test','top5']" style="color:white">Click here</a></button></td>


       <td> <img src="./assets/test.jpg" style="height:100px;width:100px"> <p>Technical</p> <br>
        <button style="height:30px;width:100px;color:white;background-color:orangered;border-radius:25px" disabled>
          <a [routerLink]="['/test','top6']" style="color:white">Click here</a></button></td>
      </tr>
</table>
</div>
</div>
<br><br>
<img src="./assets/bulb.png" style="height:380px;width:440px;position:absolute;top:730px;left:860px">
