
<div class="container-fluid text-white" style="background-color:black;opacity:0.9;margin-bottom:0px">
     <div style="margin-left:35px;margin-bottom:0px">
      <h3 style="padding-top:35px;margin-bottom:20px">About QuizMaster.in</h3>
        <p style="color:lightblue"> Quiz Master is a Online Mock Tests Portal for Job Seekers as well as those who wants to improve our
          technical and non-technical Skills. We are providing contents and test series for free for any kind of
          users. </p>
<!--
       <mat-grid-list cols='8' rowHeight='200px' style="margin-top:45px;">
         <mat-grid-tile colspan='3'>
           <div style="margin-left:60px;">
               <h5 style="color:lightgreen;padding-bottom:20px">Top Aptitudes tests</h5>
                <ul>
                 <li style="padding-bottom:10px">Numeric Reasoning</li> <li style="padding-bottom:10px">Verbal Reasoning</li>
                <li style="padding-bottom:10px">Non-verbal</li> <li style="padding-bottom:10px">Programming tests</li>

                  </ul>
          </div></mat-grid-tile>

          <mat-grid-tile colspan='3'>
            <div>
                    <h5 style="color:lightgreen;padding-bottom:20px">Links</h5>
                   <ul>
                     <li style="padding-bottom:10px;"><a routerLink='/home'>Home</a></li>
                     <li style="padding-bottom:10px; color:white"><a routerLink='/test'>Tests</a></li>
                    <li style="padding-bottom:10px; color:white"><a routerLink='/about'>About</a></li>
                     <li style="padding-bottom:10px; color:white"><a routerLink='/contact'>Contact Us</a></li>
                    </ul>
            </div></mat-grid-tile>
            <mat-grid-tile colsapn='2'></mat-grid-tile>
          </mat-grid-list> -->
       <br>
            <div class='container'>
              <div style="text-align:center">
               <a mat-icon-button  href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
               <a mat-icon-button  href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
              <a mat-icon-button  href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
             <a mat-icon-button  href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
              <a mat-icon-button  href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
              <a mat-icon-button  href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
             </div>
          </div>

  <div style="text-align:center;color:white;" class='py-md-4'>
    <hr style="border:0.3px solid grey">
    &copy; 2020 by QuizMaster Technologies Pvt Ltd.  |   Copyright   |  All Rights Reserved.
  </div>
 </div>
</div>
